/* O que fazer/escrever aqui? REGRAS DE FORMATAÇÃO */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
}

div {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 8px;

    /* Espaçamento INTERNO */
    padding: 16px;

    /* Sombra na caixa/bloco
    box-shadow: cor distX distY suavização */
    box-shadow:
        red 5px 5px 10px,
        purple -5px -5px 10px;
}

/* Tornando as imagens flexíveis/responsivas */
img {
    max-width: 100%;
}

figure {
    text-align: center;
}

/* Exercício
Crie uma nova regra CSS para estilizar o elemento h1 com as seguintes características:

- Fonte: Impact, Verdana, Arial e sans-serif
- Cor de fundo: escura com um pouco de transparência
- Cor do texto: clara
- Espaçamento: interno APENAS pra cima e pra baixo
- Letras maiúsculas
- Texto alinhado no meio
- Bordas arredondadas APENAS nos cantos superiores
- Sombra no TEXTO */

h1 {
    font-family: Impact, Verdana, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    
    /* Versão específica para cada: */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    
    /* Versão abreviada: */
    border-radius: 10px 10px 0 0;

    text-shadow: black 3px 3px 5px;
}

h2 {
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-left-width: 20px;
    /* margin-left: 30px; */
    padding-left: 10px;
}







